.allPlaces__span {
    &:last-child {
        color: rgba(128, 128, 128, 1);
    }
}

.allPlacesTabs__titles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.allPlacesTabs__title {
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.allPlacesTabs__title_active {
    background-color: #000;

    .allPlaces__span {
        &:first-child {
            color: #fff;
        }
    }
}

.allPlaces__link {
    display: none;
}

.allPlaces__link_active {
    display: block;
}


.shopCard {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.shopCard__top {
    flex-basis: 50%;
    padding: 24px;
    border-radius: 24px;
    background-color: #fff;
}

.shopCard:hover .shopCard__bottom {
    top: 0;
}

.shopCard__bottom {
    transition: all .5s;
    flex-basis: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding: 24px;
    border-radius: 24px;
    background-color: #F5F7FA;
    overflow: auto;
}

.shopCard__discount {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 6px 12px;
    width: 100%;
    max-width: 120px;
    text-align: center;
    background-color: #F5F7FA;
    border-radius: 50px;

    img {
        max-width: 20px;
    }
}

.shopCard__content {
    img {
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        margin-bottom: 25px;
    }
}

.shopCard__title {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.shopCard__counter {
    text-align: center;
    color: #808080;
    margin-top: 12px;
}

.shopCard__ul {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shopCard__a_right-dot {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--orange);
    }
}