.popup {
    padding: 0 !important;
    width: 100%;
    max-width: 700px !important;
    border-radius: 25px;
    background-color: #F5F7FA;
}

.popup__header {
    position: relative;
    height: 300px;
    border-radius: 25px;
}

.popup__bg {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    object-fit: cover;
}

.popup__logo {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 25px;
    bottom: 25px;
    border: 2px solid #fff;
    object-fit: cover;
    object-position: 50% 50%;
}

.popup__body {
    padding: 40px 30px;
}

.fancybox-button svg path {
    fill: #fff !important;
}

.fancybox-slide--html .fancybox-close-small {
    border-radius: 50%;
    background-color: #000;
    top: 10px !important;
    right: 10px !important;
}

.popup__h3 {
    font-size: 32px;
}

.popup__p {
    font-size: 18px;
}

.popup__p:not(:first-child) {
    margin-top: 12px;
}

.popup__btn-wrapper {
    margin-top: 16px;
}