.btn {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: all .3s;
    white-space: nowrap;
    border-radius: 32px;
    cursor: pointer;

    &__icon {
        max-width: 18px;
    }

    &:hover {
        opacity: 1;
    }

    &_gray {
        background-color: #F5F7FA;
        width: 100%;
        text-align: center;
        padding: 8px;
        border: 1px solid #F5F7FA;
        &:hover {
            border: 1px solid var(--black);
        }
    }

    &_black {
        padding: 16px 32px;
        background-color: var(--black);
        color: #fff;
        border: 1px solid var(--black);
        font-weight: 600;

        &:hover {
            background-color: #fff;
            color: var(--black);
        }
    }

    &_block-link {
        color: var(--blue);
        border: 1px solid rgba(0, 119, 255, 0.24);
        padding: 8px 16px;

        &:hover {
            color: #fff;
            background-color: var(--blue);
            border: 1px solid rgb(0, 119, 255);
        }

        @media(max-width:550px) {
            font-size: 14px;
            padding: 8px 12px;
        }
    }
}