/* The container must be positioned relative: */
.custom-select {
  position: relative;
  width: 320px;

  @media(max-width:1023px) {
    width: 240px;
  }
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  border-radius: 25px;
  transition: all .3s;
  border: 1px solid rgb(229, 229, 229);

}

.select-selected:hover {
  background-color: rgba(240, 247, 255, 1);
  border: 1px solid rgba(77, 160, 255, 1);
}

/* Style the arrow inside the select element: */

.select-selected::before,
.select-selected::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: var(--black);
  top: 50%;
  transition: all 0.3s;
}

.select-selected::before {
  transform: rotate(-45deg);
  right: 8px;
}

.select-selected:hover::before {
  transform: rotate(45deg);
  background-color: var(--blue);
}


.select-selected::after {
  transform: rotate(45deg);
  right: 14px;
}

.select-selected:hover::after {
  transform: rotate(-45deg);
  background-color: var(--blue);
}



/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  padding: 8px 16px;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  padding: 8px;
  border-radius: 25px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-items div {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  transition: all .3s;
}

.select-items div:not(:first-child) {
  margin-top: 4px;
}

.select-items div:hover {
  background-color: #F5F7FA;

}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.same-as-selected {
  background-color: #F5F7FA;
  transition: all .3s;
}

.select-items div::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-image: url('../img/sprites/i-check.svg');
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transform: scale(0);
}

.same-as-selected::before {
  transform: scale(1) !important;
  transition: all .3s;
}

.same-as-selected:hover {
  background-color: var(--blue) !important;
  color: #fff;

  &::before {
    width: 0;
  }
}

.custom-select-wrapper {
  display: flex;
  gap: 15px;
  @media(max-width:767px) {
    flex-direction: column;
  }
}